@model PersonalRecord

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

<h2 class="text-center">Додавання особової справи</h2>

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="mb-3">
                <label for="excelFile" class="form-label">Завантажити Excel-файл:</label>
                <input type="file" name="excelFile" class="form-control" accept=".xlsx" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button type="submit" class="btn btn-primary mt-3">Додати особову справу</button>
        </div>
    </div>

</form>
