@model PersonalRecord

<h2>Додаткова інформація з особової справи:</h2>

<form method="post" asp-action="Index">
    <div class="row mb-3 p-1">
        <label asp-for="LastName" class="p-0">Введіть прізвище:</label>
        <div class="col-6">
            <input asp-for="LastName" class="form-control" />
        </div>
    </div>
    <div class="row mb-3 p-1">
        <label asp-for="FirstName" class="p-0">Введіть ім'я:</label>
        <div class="col-6">
            <input asp-for="FirstName" class="form-control" />
        </div>
    </div>
    <div class="row mb-3 p-1">
        <label asp-for="Soname" class="p-0">Введіть по-батькові:</label>
        <div class="col-6">
            <input asp-for="Soname" class="form-control" />
        </div>
    </div>

    <!-- Кнопки для вибору категорії -->
    <button type="submit" class="btn btn-primary" name="action" value="Contacts">Контактна інформація</button>
    <button type="submit" class="btn btn-primary" name="action" value="SickLeaves">Інформація про лікарняні</button>
    <button type="submit" class="btn btn-primary" name="action" value="Vacations">Інформація про відпустки</button>
    <button type="submit" class="btn btn-primary" name="action" value="Trainings">Інформація про навчання</button>
</form>

<!-- Виведення результатів -->
@if (ViewBag.Title != null)
{
    <h3>@ViewBag.Title</h3>
}

@if (ViewBag.Data != null)
{
    <ul>
        @foreach (var dataItem in ViewBag.Data)
        {
            <li>@dataItem</li>
        }
    </ul>
}
else if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}
